on late-init
    chown system system /sys/class/qcom-haptics/primitive_duration
    chmod 0600 /sys/class/qcom-haptics/primitive_duration

on late-fs
    chmod 0666 /dev/qcom_haptic
    chown system system /dev/qcom_haptic
    chmod 0666 /proc/tiktap_buf
    chown system system /proc/tiktap_buf

service vendor.qti.vibrator /vendor/bin/hw/vendor.qti.hardware.vibrator.service
    class hal
    user system
    group system input

    setenv RICHTAP_DEVICE_PATH  /dev/qcom_haptic
    setenv ENV_RICHTAP_CONFIG_PATH /odm/etc/aac_richtap.config

on late-init
    write /sys/class/leds/vibrator/trigger "transient"

on property:sys.boot_completed=1
    setprop vendor.haptic.calibrate.done 1
